
.div_capa{
 
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(241, 116, 0));
    width: 85%;
    height: 80%;
  
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
   
    border-radius: 20px;
  }
  
  .logo_whts{
   margin: 0px;
    width: 40px;
    height: 40px;
  }
  .div_solicitar_atend{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 50px;
    
    margin-top: 320px;
    margin-left: 10px;
    width: 450px;
 
    padding-left: 30px;
    
  }
  .imagem-div{
    margin-left: auto;
    padding: 50px;
    width: 40%;
    height: 90%;
  }
  
  .div_solicitar_atend a{
   font-size: 20px;
   text-decoration: none;
   color: black;
   margin-left: 65px;
  
  }
  .div_text{
    width: 50%;
    height: 90%;
    margin: auto;
    font-family: 'Poppins';
    font-size: 30px;
  
    padding: 50px;
    text-align: left;
  
   
  }
  .Div_Contato{
    width: 95%;
    height: 750px;
    margin: 5px;
    position: relative;
    top: 500px;
    align-items: center;
  }
  .text_Titulo{
    font-size: 40px;
    font-family: 'Poppins';
    margin: 0;
  }


  @media (max-width: 750px)  {
    .logo_menu{
      width: 100px;
      height: 70px;
    }
    
  
    .div_capa{
      display: block;
      height: 100%;
      width: 95%;
      margin: 0;
   
    }
    .text_Titulo{
      font-size: 20px;
      color: white;
    }
    .text_div{
      color: white;
    }
  
    .imagem-div{
    display: none;
    }
    .div_text{
      height: 40%;
      width: 100%;
      margin: 0px;
    
    }
    
    .div_solicitar_atend{
     margin: 0;
     margin-top: 40px;
     margin-left: 0;
     width: 100%;
    }
    .div_solicitar_atend a{
      font-size: 20px;
      margin: 10px;


    }
    
  }
  