.sobre_nos{
    width: 95%;
    height: 500px;
    background-image: url('../../imagens/caminhao_opacato.png');
    background-size: cover;
    display: flex;
    padding: 60px;
    align-items: center;
   
}
.sobre_nos h2{
    font-family: 'Poppins';
    font-size: 35px;
    padding: 40px;
}
.sobre_nos{
    font-family: 'Poppins';
    font-size: 15px;
   
}
.sobre_nos span{
     color: black;
}
.text_sobre{
    width: 50%;
    text-align: center;
    
}
.foto{
    background-image: url('../../imagens/caminhao2.jpeg');
    width: 40%;
    height: 400px;
    background-size: cover;
    border-radius: 50%;
    margin: 30px;
    position: relative;
  
}
@media (max-width: 750px) {
    .sobre_nos{
        display: block;
        width: 100%;
       
        top:1150px;
    
       position: relative;
        height: 600px;
        
    }
    .text_sobre{
     
        width: 100%;
    }
    .text_sobre{
        width: 100%;
        text-align: center;
    }
    .sobre_nos h2{
        font-size: 20px;
        color: black;
        padding: 0;
    }
    .sobre_nos span{
         color: black;
    }
    .foto{
        width: 95%;
        height: 240px;
        margin: auto;
        left: 0;
    }
}