.logo_menu{
  width: 100px;
  height: 70px;
}
.Barra_menu{
  background-color: transparent;
  width: 100%;
  height: 70px;
}

.me-auto{
  margin-left: 350px;
  font-size: 20px;
  color: black;
  font-family: 'Poppins';
  
}

.div_superior{
   background-image: url('../src//imagens//caminhao_opacato.png');
   background-size: cover;
 
}
.div_capa{
  opacity: 0.9;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(241, 116, 0));
  width: 85%;
  height: 550px;
  align-items: center;
  text-align: center;
  display: flex;
  margin: auto;
  border-radius: 20px;
}
.logo_whts{
  
  width: 40px;
  height: 40px;
}
.div_solicitar_atend{
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  height: 50px;
  
  margin-top: 200px;
  margin-left: 120px;
  width: 300px;
  padding: 5px;
  align-items: center;
  text-align: center;
}
.imagem-div{
  margin-left: auto;
  padding: 20px;
  width: 40%;
  height: 95%;
}
.div_solicitar_atend span{
 font-size: 20px;

}
.div_text{
 
  width: 50%;
  height: 90%;
  padding: 50px;
  
 
}
.Div_Contato{
  width: 100%;
  height: 450px;
  background-color: violet;
  position: relative;
  top: 2450px;
  align-items: center;
}
.div_text h2 , h4{
  color: white;
}
.fone_menu , IoCall{
  color: orange;
  font-size: 20px;
}
@media (max-width: 750px)  {
  .logo_menu{
    width: 100px;
    height: 70px;
  }
  .div_capa{
    

  }

  .fone_menu{ display: none;}
  .Barra_menu{
 background-color: aliceblue;
  }
  .me-auto{
   margin:0;
   padding: 20px;
   right: 0;
   width:40%;
   border-radius: 10px;
   opacity: 1;
   position: absolute;
   background-color: rgb(226, 225, 225);
  }
  .div_capa{
    display: block;
    height: 250px;
    width: 100%;
    margin-top: 70px;

  }
  .imagem-div{
  display: none;
  }
  .div_text{
    height: 40%;
    width: 100%;
  }
  
  .div_text h2 , h4{
    font-size: 15px;
    color: black;
  }
  .div_solicitar_atend{
   margin: 0;
   margin-top: 20px;
   width: 100%;
  }
  .div_solicitar_atend span{
    font-size: 11px;
  }
  .Contato{
     top: 1350px;
  }
}
